@using Skoleni.Models;
@model Mistnost

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Mistnost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idMistnosti" />
            <div class="form-group">
                <label asp-for="nazev" class="control-label"></label>
                <input asp-for="nazev" class="form-control" />
                <span asp-validation-for="nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kapacita" class="control-label"></label>
                <input asp-for="kapacita" class="form-control" />
                <span asp-validation-for="kapacita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
