@using Skoleni.Models;
@model Zaznam

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-zeleno-zelena">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Vymazání uživatele</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <input type="hidden" asp-for="idZaznamu" />
                </div>
                <div class="mN">
                    <label asp-for="uzivatel.jmenoPrijmeni">Jméno a příjmení</label>
                </div>
                <div class="mD">
                    <input asp-for="uzivatel.jmenoPrijmeni" class="textPole" readonly="readonly" />
                    <span asp-validation-for="uzivatel.jmenoPrijmeni" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="termin.terminKonani">Termín</label>
                </div>
                <div class="mD">
                    <input asp-for="termin.terminKonani" class="textPole" readonly="readonly" />
                    <span asp-validation-for="termin.terminKonani" class="text-danger"></span>
                </div>
            </div>
            <div id="tlacitkaPopisku">
                <button type="submit" value="Create" class="tlacitkoPouzit">Smazat</button>
                <a asp-action="Index" asp-route-idSkoleni="@Model.termin.idSkoleni" class="tlacitkoReset">Zpět</a>
            </div>
        </form>
    </div>
</div>

