@using Skoleni.ViewModels;
@model TerminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-fialovo-modra">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Nový termín</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <label asp-for="termin.terminKonani">Termín konání</label>
                    <input type="hidden" asp-for="termin.idTerminu" />
                </div>
                <div class="mD">
                    <input asp-for="termin.terminKonani" class="textPole" />
                    <div style="margin-top:-15px">
                        <span asp-validation-for="termin.terminKonani" style="color:red;"></span>
                    </div>
                </div>
                <div class="mN">
                    <label asp-for="seznamSkoleni">Školení</label>
                </div>
                <div class="mD">
                    <select asp-for="termin.idSkoleni" asp-items="@Model.seznamSkoleni" class="textPole">
                        <option>Vyberte prosím školení...</option>
                    </select>
                    <div style="margin-top:-15px">
                        <span asp-validation-for="termin.idSkoleni" style="color:red;"></span>
                    </div>
                </div>
                <div class="mN">
                    <label asp-for="seznamSkoleni">Místnost</label>
                </div>
                <div class="mD">
                    <select asp-for="termin.idMistnosti" asp-items="@Model.seznamMistnosti" class="textPole">
                        <option>Vyberte prosím místnost...</option>
                    </select>
                    <div style="margin-top:-15px">
                        <span asp-validation-for="termin.idMistnosti" style="color:red;"></span>
                    </div>
                </div>
                <div class="mN">
                    <label asp-for="termin.dobaTrvani">Doba trvání(min)</label>
                </div>
                <div class="mD">
                    <input asp-for="termin.dobaTrvani" class="textPole" />
                    <div style="margin-top:-15px">
                        <span asp-validation-for="termin.dobaTrvani" style="color:red;"></span>
                    </div>
                </div>
                <div class="mN">
                    <label asp-for="seznamJazyku">Jazyk</label>
                </div>
                <div class="mD">
                    <select asp-for="termin.idJazyka" asp-items="@Model.seznamJazyku" class="textPole">
                        <option>Vyberte prosím jazyk...</option>
                    </select>
                    <div style="margin-top:-15px">
                        <span asp-validation-for="termin.idJazyka" style="color:red;"></span>
                    </div>
                </div>
            </div>
            <div id="tlacitkaPopisku" style="margin-top:20px">
                <button type="submit" value="Create" class="tlacitkoPouzit">Odeslat</button>
                <a asp-action="Index" class="tlacitkoReset">Zpět</a>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('cs');

        $(document).on('mousemove', "#termin_terminKonani", function () {
            //alert("ahoj");
            $('#termin_terminKonani').datetimepicker({
                format: 'd.m.Y',
                timepicker: false,
            });
        });


    });

</script>
