@using Skoleni.Models;
@model PSkoleni

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-cerveno-fialova">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Vymazání školení</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <label asp-for="nazev">Název</label>
                </div>
                <div class="mD">
                    <input asp-for="nazev" class="textPole" readonly="readonly" />
                    <span asp-validation-for="nazev" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="nazev">Popis</label>
                </div>
                <div class="mD">
                    <input asp-for="nazev" class="textPole" readonly="readonly" />
                    <span asp-validation-for="popis" class="text-danger"></span>
                </div>
            </div>
            <div id="tlacitkaPopisku">
                <button type="submit" value="Create" class="tlacitkoPouzit">Smazat</button>
                <a asp-action="Index" class="tlacitkoReset">Zpět</a>
            </div>
        </form>
    </div>
</div>


