@using Skoleni.Models;
@model Skoleni

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-cerveno-fialova">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Podrobnosti - školení</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <div>
            <div class="mN">
                <label asp-for="nazev">Název</label>
            </div>
            <div class="detailBlok">
                <div class="detailSEditem">
                    <div class="mD">
                        <input asp-for="nazev" class="textPole" readonly="readonly" />
                    </div>
                    <div id="edit">
                        <a asp-action="Edit" asp-route-id="@Model.idSkoleni"><div id="editIkona"></div></a>
                    </div>
                </div>
            </div>
            <div class="mN">
                <label asp-for="popis">Popis</label>
            </div>
            <div class="mD">
                <input asp-for="popis" class="textPole" />
                <span asp-validation-for="popis" class="text-danger"></span>
            </div>
            <div class="mN">
                <label asp-for="skolitel">školitel</label>
            </div>
            <div class="mD">
                <input asp-for="skolitel" class="textPole" />
                <span asp-validation-for="skolitel" class="text-danger"></span>
            </div>
        </div>
        <div id="tlacitkaPopisku">
            <a asp-action="Index" class="tlacitkoReset">Zpět</a>

        </div>
    </div>
</div>

