@using Skoleni.Models;
@model Uzivatel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-zeleno-zelena">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Vymazání uživatele</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <label asp-for="jmeno">Jméno</label>
                </div>
                <div class="mD">
                    <input asp-for="jmeno" class="textPole" readonly="readonly" />
                    <span asp-validation-for="jmeno" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="prijmeni">Příjmení</label>
                </div>
                <div class="mD">
                    <input asp-for="prijmeni" class="textPole" readonly="readonly" />
                    <span asp-validation-for="prijmeni" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="stredisko">Středisko</label>
                </div>
                <div class="mD">
                    <input asp-for="stredisko" class="textPole" readonly="readonly" />
                    <span asp-validation-for="stredisko" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="email">E-mail</label>
                </div>
                <div class="mD">
                    <input asp-for="email" class="textPole" readonly="readonly" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="jazyk.nazev">Jazyk</label>
                </div>
                <div class="mD">
                    <input asp-for="jazyk.nazev" class="textPole" readonly="readonly" />
                    <span asp-validation-for="jazyk.nazev" class="text-danger"></span>
                </div>
            </div>
            <div id="tlacitkaPopisku">
                <button type="submit" value="Delete" class="tlacitkoPouzit">Smazat</button>
                <a asp-action="Index" class="tlacitkoReset">Zpět</a>
            </div>
        </form>
    </div>
</div>

