@using Skoleni.Models
@model Uzivatel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-modro-cervena">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Detaily uživatele</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <label asp-for="jmeno">Jméno</label>
                </div>
                <div class="mD">
                    <input asp-for="jmeno" class="textPole" />
                    <span asp-validation-for="jmeno" class="text-danger"></span>
                </div>

                <div class="mN">
                    <label asp-for="prijmeni">Příjmení</label>
                </div>
                <div class="mD">
                    <input asp-for="prijmeni" class="textPole" />
                    <span asp-validation-for="prijmeni" class="text-danger"></span>
                </div>

                <div class="mN">
                    <label asp-for="stredisko">Středisko</label>
                </div>
                <div class="mD">
                    <input asp-for="stredisko" class="textPole" />
                    <span asp-validation-for="stredisko" class="text-danger"></span>
                </div>

                <div class="mN">
                    <label asp-for="email">Email</label>
                </div>
                <div class="mD">
                    <input asp-for="email" class="textPole" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

                <div class="mN">
                    <label asp-for="idJazyka">Jazyk</label>
                </div>
                <div class="mD">
                    <select asp-for="jazyk" asp-items="ViewBag.idJazyka" class="textPole"></select>
                </div>

                <div class="mN">
                    <label asp-for="nt">NT účet</label>
                </div>
                <div class="mD">
                    <input asp-for="nt" class="textPole" />
                    <span asp-validation-for="nt" class="text-danger"></span>
                </div>

                <div class="mN">
                    <label asp-for="heslo">heslo</label>
                </div>
                <div class="mD">
                    <input asp-for="heslo" class="textPole" />
                    <span asp-validation-for="heslo" class="text-danger"></span>
                </div>
            </div>
            <div id="tlacitkaPopisku">
                <a asp-action="Index" class="tlacitkoReset">Zpět</a>
            </div>
        </form>
    </div>
</div>
