

/*                Tlacitko Filtr - filtrovani dat                               */
#filtr {
    position: fixed;
    float: right;
    z-index: 900;
    top: 233px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #filtr:hover {
        border-color: black;
    }

#filtrIkona {
    background-image: url(/images/frontify/Bosch-IC-filter-darkgray.png), url(/Images/Frontify/Bosch-IC-filter-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #filtrIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-filter.png), url(/Images/Frontify/Bosch-IC-filter.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.filtrIkonaNapoveda {
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 230px;
    right: 70px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .filtrIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 30%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }

/*                Tlacitko Novy - zalozeni nove skoronehody / pracovniho urazu  */
/*                Tlacitko Admin - presun do administracni casti                */
#novy {
    position: fixed;
    float: right;
    top: 190px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #novy:hover {
        border-color: black;
    }

#novyIkona {
    background-image: url(/images/frontify/Bosch-IC-add-darkgray.png), url(/images/frontify/Bosch-IC-add-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #novyIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-add.png), url(/Images/Frontify/Bosch-IC-add.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.novyIkonaNapoveda {
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 175px;
    right: 70px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .novyIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 30%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }

/*                Tlacitko Admin - presun do administracni casti                */
#admin {
    position: fixed;
    float: right;
    z-index: 10;
    top: 340px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #admin:hover {
        border-color: #e10015;
    }

#adminIkona {
    background-image: url(/images/frontify/Bosch-IC-globe-darkgray.png), url(/Images/Frontify/Bosch-IC-globe-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #adminIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-globe-red.png), url(/Images/Frontify/Bosch-IC-globe-red.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }


.adminIkonaNapoveda {
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e10015;
    position: fixed;
    top: 335px;
    right: 70px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .adminIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 30%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent transparent #e10015;
    }


#export {
    position: fixed;
    float: right;
    z-index: 10;
    top: 286px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #export:hover {
        border-color: #000000;
    }

#exportIkona {
    background-image: url(/images/frontify/Bosch-IC-download-darkgray.png), url(/Images/Frontify/Bosch-IC-download-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #exportIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-download.png), url(/Images/Frontify/Bosch-IC-download.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.exportIkonaNapoveda {
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 280px;
    right: 70px;
    display: none;
    /*-webkit-box-shadow: 5px 5px 5px 5px rgba(129,161,187,0.53);
    -moz-box-shadow: 5px 5px 5px 5px rgba(129,161,187,0.53);
    box-shadow: 5px 5px 5px 5px rgba(129,161,187,0.53);*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .exportIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 30%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }

/*                Tlacitko Zpet - vraceni na predchozi cast  */
#zpet {
    position: fixed;
    float: left;
    top: 220px;
    left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #zpet:hover {
        border-color: black;
    }

#zpetIkona {
    background-image: url(/images/frontify/Bosch-IC-back-left-darkgray.png), url(/Images/Frontify/Bosch-IC-back-left-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #zpetIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-back-left.png), url(/Images/Frontify/Bosch-IC-back-left.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.zpetIkonaNapoveda {
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 215px;
    left: 70px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .zpetIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 30%; /* At the top of the tooltip */
        right: 100%;
        margin-right: 0px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }















/**********************   Admin sekce -   bocni tlacitka  *********/

/*                Tlacitko KMU - presun do seznamu skoronehod                  */
#kmu {
    position: fixed;
    float: right;
    z-index: 10;
    top: 340px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #kmu:hover {
        border-color: #000000;
    }

#kmuIkona {
    background-image: url(/images/frontify/Bosch-IC-globe-gray.png), url(/Images/Frontify/Bosch-IC-globe-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #kmuIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-globe.png), url(/Images/Frontify/Bosch-IC-globe.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.kmuIkonaNapoveda {
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 335px;
    right: 70px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .kmuIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 50%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }


/*                Tlacitko Upload - natazeni dat do systemu                   */
#nahrat {
    position: fixed;
    float: right;
    z-index: 900;
    top: 220px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #nahrat:hover {
        border-color: #000000;
    }

#nahratIkona {
    background-image: url(/images/frontify/Bosch-IC-upload-gray.png), url(/Images/Frontify/Bosch-IC-upload-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #nahratIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-upload.png), url(/Images/Frontify/Bosch-IC-upload.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.nahratIkonaNapoveda {
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 140px;
    right: 70px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .nahratIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 50%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }

/*                Tlacitko Download - stazeni dat ze systemu                  */

#stahnout {
    position: fixed;
    float: right;
    z-index: 10;
    top: 280px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
}

    #stahnout:hover {
        border-color: #000000;
    }

#stahnoutIkona {
    background-image: url(/images/frontify/Bosch-IC-download-gray.png), url(/Images/Frontify/Bosch-IC-download-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #stahnoutIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-download.png), url(/Images/Frontify/Bosch-IC-download.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

.stahnoutIkonaNapoveda {
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    top: 200px;
    right: 70px;
    display: none;
    /*-webkit-box-shadow: 5px 5px 5px 5px rgba(129,161,187,0.53);
    -moz-box-shadow: 5px 5px 5px 5px rgba(129,161,187,0.53);
    box-shadow: 5px 5px 5px 5px rgba(129,161,187,0.53);*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    .stahnoutIkonaNapoveda:after {
        content: " ";
        position: absolute;
        bottom: 50%; /* At the top of the tooltip */
        left: 100%;
        margin-right: 0px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }


/*                Tlacitko TISK - tisk pozadavku                  */

#tisk {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #bfc0c2;
    background-color: white;
}

    #tisk:hover {
        border-color: #000000;
    }

#tiskIkona {
    background-image: url(/images/frontify/Bosch-IC-print-gray.png), url(/Images/Frontify/Bosch-IC-print-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #tiskIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-print.png), url(/Images/Frontify/Bosch-IC-print.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

/*                Tlacitko PDF - prevod pozadavku do PDF                  */

#pdf {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #bfc0c2;
    background-color: white;
}

    #pdf:hover {
        border-color: #000000;
    }

#pdfIkona {
    background-image: url(/images/frontify/Bosch-IC-pdf-gray.png), url(/Images/Frontify/Bosch-IC-pdf-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #pdfIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-pdf.png), url(/Images/Frontify/Bosch-IC-pdf.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }



#edit {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #bfc0c2;
    background-color: white;
    width: 40px;
    height: 40px;
}

    #edit:hover {
        border-color: #000000;
    }

#editIkona {
    background-image: url(/images/frontify/Bosch-IC-edit-gray.png), url(/Images/Frontify/Bosch-IC-edit-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #editIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-edit.png), url(/Images/Frontify/Bosch-IC-edit.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

#delete {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #bfc0c2;
    background-color: white;
    width: 40px;
    height: 40px;
}

    #delete:hover {
        border-color: #000000;
    }

#deleteIkona {
    background-image: url(/images/frontify/Bosch-IC-delete-gray.png), url(/Images/Frontify/Bosch-IC-delete-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #deleteIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-delete.png), url(/Images/Frontify/Bosch-IC-delete.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

#history {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #bfc0c2;
    background-color: white;
    width: 40px;
    height: 40px;
}

    #history:hover {
        border-color: #000000;
    }

#historyIkona {
    background-image: url(/images/frontify/Bosch-IC-list-view-gray.png), url(/Images/Frontify/Bosch-IC-list-view-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #historyIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-list-view.png), url(/Images/Frontify/Bosch-IC-list-view.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

/*                Tlacitko EXPORT - stazeni dat ze systemu                  */




/*                Tlacitko Detail - zobrazi informace o pozadavku                */


#detail {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #bfc0c2;
    background-color: white;
    width: 40px;
    height: 40px;
}

    #detail:hover {
        border-color: #000000;
    }

#detailIkona {
    background-image: url(/images/others/tecky-gray.png), url(/images/others/tecky-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #detailIkona:hover {
        background-image: url(/images/others/tecky.png), url(/images/others/tecky.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

/*                Tlacitko Restore - presune archivovany pozadavek zpet do aktivniho pouzivani                */
#restore {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
    width: 40px;
    height: 40px;
}

    #restore:hover {
        border-color: #000000;
    }

#restoreIkona {
    background-image: url(/images/frontify/Bosch-IC-rotation-gray.png), url(/Images/Frontify/Bosch-IC-rotation-gray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #restoreIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-rotation.png), url(/Images/Frontify/Bosch-IC-rotation.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

/*                Tlacitko Search - zobrazuje dialog box                */
#search {
    top: 260px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #525f6b;
    background-color: white;
    width: 40px;
    height: 40px;
}

    #search:hover {
        border-color: black;
    }

#searchIkona {
    background-image: url(/images/frontify/Bosch-IC-search-darkgray.png), url(/Images/Frontify/Bosch-IC-search-darkgray.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

    #searchIkona:hover {
        background-image: url(/images/frontify/Bosch-IC-search.png), url(/Images/Frontify/Bosch-IC-search.png);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
