@using Skoleni.Models;
@model POpravneni

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-cerveno-fialova">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Podrobnosti - oprávnění</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <div>
            <div class="mN">
                <input type="hidden" asp-for="idUzivatele" />
                <input type="hidden" asp-for="idRole" />
            </div>
            <div class="mN">
                <label asp-for="uzivatel.jmeno">Jméno</label>
            </div>
            <div class="detailBlok">
                <div class="detailSEditem">
                    <div class="mD">
                        <input asp-for="uzivatel.jmeno" class="textPole" readonly="readonly" />
                    </div>
                    <div id="edit">
                        <a asp-action="Edit" asp-route-id="@Model.idUzivatele"><div id="editIkona"></div></a>
                    </div>
                </div>
            </div>
            <div class="mN">
                <label asp-for="role.nazev">Jazyk</label>
            </div>
            <div class="mD">
                <input asp-for="role.nazev" class="textPole" readonly="readonly" />
                <span asp-validation-for="role.nazev" class="text-danger"></span>
            </div>
        </div>
        <div id="tlacitkaPopisku">
            <a asp-action="Index" class="tlacitkoReset">Zpět</a>

        </div>
    </div>
</div>
