@using Skoleni.ViewModels;
@model POpravneniViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-modro-modra">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Editovat oprávnění</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <label asp-for="opravneni.uzivatel.jmeno">Jméno</label>
                    <input type="hidden" asp-for="idUzivatele" />
                </div>
                <div class="mD">
                    <input asp-for="opravneni.uzivatel.jmeno" class="textPole" readonly="readonly" />
                    <span asp-validation-for="opravneni.uzivatel.jmeno" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="mN">
                    <label asp-for="seznamRoli">Oprávnění</label>
                </div>
                <div class="mD">
                    <select asp-for="idRole" asp-items="@Model.seznamRoli" class="textPole">
                        <option>Vyberte prosím oprávnění...</option>
                    </select>
                    <span asp-validation-for="idRole" class="text-danger"></span>
                </div>
            </div>
            <div id="tlacitkaPopisku">
                <button type="submit" value="Create" class="tlacitkoPouzit">Odeslat</button>
                <a asp-action="Index" class="tlacitkoReset">Zpět</a>
            </div>
        </form>
    </div>
</div>

