<div class="pozadiUvodu">
    <div class="pozadi-modro-modra">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">O aplikaci</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>


<div class="seznamKmu">
    <h2>Předmět</h2>
    <div>
        KIKM - PPRO &nbsp;Pokročilé programování
    </div>

    <h2>Název aplikace</h2>
    <div>
        Správa evidence školení ve firemním prostředí
    </div>

    <h3>Typ aplikace</h3>
    <div>
        Semestrální projekt do předmětu
    </div>

    <h3>Tvůrci</h3>
    <div>
        <p>Patrik Fišer  (fiserpa1)</p>
        <p>Karel Kobliha (koblika1)</p>
</div>

    <h3>Použité technologie</h3>
    <div>
        <p>ASP.NET MVC Core</p>
        <p>Entity Framework</p>
        <p>MS SQL Server</p>
    </div>


</div>
<div id="odspodu" />