<div class="pozadiUvodu">
    <div class="pozadi-sedo-modra">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">GDPR</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>


<div class="seznamKmu">
    <h2>Správce osobních údajů</h2>
    <div>
        V souladu s právními předpisy o ochraně osobních údajů a v souladu s nařízením Evropského parlamentu a Rady (EU) č. 2016/679, obecné nařízení o ochraně osobních údajů (dále jen „GDPR“), Vám tímto správce společnost BOSCH DIESEL s.r.o., se sídlem Pávov 121, 586 01 Jihlava, IČO: 46995129 (dále jen „Správce“), poskytuje následující informace týkající se zpracovávání Vašich osobních údajů jako zaměstnance Správce.
    </div>

    <h2>Právní základ, účel a rozsah zpracování osobních údajů</h2>
    <div>
        Zpracování Vašich osobních údajů provádíme v nezbytně nutném rozsahu pro účely plnění pracovní či jiné smlouvy na základě čl. 6 odst. 1 písm. b) GDPR, splnění právních povinností na základě čl. 6 odst. 1 písm. c) GDPR, ochrany práv a oprávněných zájmů Správce na základě čl. 6 odst. 1 písm. f) GDPR. V některých případech je právním základem pro zpracování Vašich osobních údajů Váš souhlas udělený na základě čl. 6 odst. 1 písm. a) GDPR.
    </div>

    <h3>Identifikační a kontaktní údaje</h3>
    <div>
        např. jméno a příjmení, tituly, adresa trvalého pobytu a korespondenční adresa, telefonní spojení, datum a místo narození, rodné číslo, rodinný stav, fotografie, státní příslušnost, čísla osobních dokladů a údaje přiřazené Správcem v rámci Vaší pracovní činnosti (např. osobní číslo, uživatelské jméno, kontaktní údaje)
    </div>

    <h3>Údaje potřebné pro zpracování mzdy, odměňování a benefitů</h3>
    <div>
        např. evidence odpracované doby, údaje pro zohlednění slev a srážek na daních, údaje pro zpracování příspěvků na spoření a pojištění, bankovní spojení, informace o pracovních úrazech, údaje o pracovních cestách (např. ubytování, rezervace letenek, jízdenek a ostatních výdajů, kopie TP a informace o havarijním pojištění vlastního vozu), nařízené srážky ze mzdy, potvrzení o studiu, stravenky a údaje vedené stravovacím systém, informace pro roční zúčtování daně, informace o poskytnutých benefitech
    </div>

    <h3>Vzdělávání, hodnocení a kariérní rozvoj zaměstnanců</h3>
    <div>
        např. historie pracovních pozic, pracovní hodnocení, informace o absolvovaných školeních
    </div>

    <h3>Ochrana majetku a dalších oprávněných zájmů Správce</h3>
    <div>
        např. kamerové záznamy, informace o vstupu do areálu Správce a do vymezených prostor a záznamy o používání služebních vozidel pro pracovní účely (včetně GPS), které jsou zpracovávány za účelem ochrany majetku Správce
    </div>

    <h3>Provozní údaje</h3>
    <div>
        např. veškeré interní protokoly a záznamy, záznamy o činnostech v informačních systémech, účetní dokumenty, údaje v interních seznamech, údaje o výdeji pracovních pomůcek, údaje z interních kontrol
    </div>

</div>
<div id="odspodu" />